.landingDiscover {
  .head {
    text-align: center;
    font-weight: 500;
    font-size: 2.2rem;
    // color: $grey3;
    @include respond-to("medium") {
      font-size: 2.8rem;
      margin-top: -3rem;
    }
    @include respond-to("large") {
      font-size: 3.2rem;
      margin-top: -8rem;
    }
    @include respond-to("desktop") {
      margin-top: -3rem;
    }
    @include respond-to("huge") {
      margin-top: -6rem;
      font-size: 4rem;
    }
    @include respond-to("ultra") {
      margin-top: 0rem;
      font-size: 3.5rem;
    }
  }
  &__cont {
    margin-top: 6rem;
    @include respond-to("medium") {
      margin-top: 5rem;
    }
    @include respond-to("ultra") {
      margin-top: 7rem;
    }
  }
  &__card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 6rem;
      @include respond-to("large") {
        margin-bottom: 8rem;
      }
    }
    &:nth-child(even) {
      .landingDiscover {
        &__visual {
          order: 2;
          img {
            height: 23rem;
            width: 23rem;
            object-fit: contain;
            position: absolute;
            top: -12rem;
            left: 3rem;
            @include respond-to("landscape") {
              left: 5rem;
            }
            @include respond-to("large") {
              position: static;
              width: 80%;
              height: 80%;
              margin-left: 5rem;
            }
          }
        }
        &__text {
          padding-left: 0;
          .main {
            img {
              left: -1.5rem;
              @include respond-to("ultra") {
                left: -1.8rem;
              }
            }
          }
          @include respond-to("huge") {
            padding-right: 6rem;
          }
        }
      }
    }
  }
  &__visual {
    // background-color: red;
    flex-basis: 40%;
    position: relative;
    @include respond-to("landscape") {
      flex-basis: 50%;
    }
    img {
      height: 23rem;
      width: 23rem;
      object-fit: contain;
      position: absolute;
      top: -12rem;
      left: -10rem;
      @media only screen and (min-width: 410px) {
        left: -8rem;
      }
      @include respond-to("landscape") {
        position: static;
        width: 80%;
        height: 80%;
      }
    }
  }
  &__text {
    flex-basis: 60%;
    position: relative;
    padding-left: 2.5rem;
    @include respond-to("landscape") {
      flex-basis: 50%;
      padding-left: 0;
    }
    .main {
      img {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        position: absolute;
        top: -2.8rem;
        left: 0.5rem;
        @include respond-to("landscape") {
          top: -3rem;
          left: -2rem;
        }
        @include respond-to("desktop") {
          top: -2rem;
        }
        @include respond-to("huge") {
          transform: scale(1.4);
          top: -2.3rem;
          left: -1rem;
        }
        @include respond-to("ultra") {
          top: -2.4rem;
          left: -2rem;
        }
      }
      .title {
        font-size: 1.5rem;
        font-weight: 500;
        // color: $grey3;
        position: relative;
        line-height: 3rem;
        @include respond-to("landscape") {
          font-size: 1.8rem;
        }
        @include respond-to("medium") {
          font-size: 2rem;
        }
        @include respond-to("large") {
          font-size: 2.3rem;
        }
        @include respond-to("huge") {
          font-size: 2.8rem;
        }
        @include respond-to("ultra") {
          font-size: 2.5rem;
        }
      }
      .desc {
        font-weight: 400;
        font-size: 1.1rem;
        margin-top: 1rem;
        text-align: justify;
        color: $grey2;
        @include respond-to("landscape") {
          font-size: 1.2rem;
        }
        @include respond-to("medium") {
          font-size: 1.4rem;
          margin-top: 2.5rem;
        }
        @include respond-to("large") {
          font-size: 1.5rem;
        }
        @include respond-to("desktop") {
          font-size: 1.3rem;
        }
        @include respond-to("huge") {
          font-size: 2rem;
          line-height: 3rem;
        }
        @include respond-to("ultra") {
          font-size: 1.7rem;
        }
      }
    }
  }
}
