// White
$white1: #ffffff;
$white2: #f1f2f6;
$white3: #dfe4ea;
$white4: #ced6e0;

// Grey
$grey1: #a4b0be;
$grey2: #747d8c;
$grey3: #57606f;
$grey4: #2f3542;

// Blue
$blue1: #48dbfb;
$blue2: #00a8ff;
$blue3: #2a65d9;

//Green
$green1: #27de8e;
$green2: #76d46c;
$green3: #2ed573;

//Red
$red1: #ff6b81;
$red2: #EE5A24;
$red3: #EA2027;