.layout {
  &__container {
    overflow: hidden;
    padding: 4rem 2rem;
    @include respond-to("landscape") {
      padding: 5rem 3rem;
    }
    @include respond-to("medium") {
      padding: 6rem 4rem;
    }
    @include respond-to("large") {
      padding: 10rem 8rem;
    }
    @include respond-to("desktop") {
      padding: 10rem 10%;
    }
    @media (min-width: 1440px) and (max-width: 1919px) {
      padding: 10rem 15%;
    }
    @include respond-to("huge") {
      padding: 12rem 15%;
      overflow: visible;
    }
    @include respond-to("ultra") {
      padding: 12rem 20%;
    }
    &--grey {
      @include bgLinear(to bottom, $white2, $white1);
      @include respond-to("landscape") {
        overflow: visible;
      }
    }
  }
  &__wavepart {
    position: relative;
    margin-top: 25%;
    @include respond-to("landscape") {
      margin-top: 12rem;
    }
    @include respond-to("desktop") {
      margin-top: 15rem;
    }
    @include respond-to("huge") {
      margin-top: 22rem;
    }
  }
  &__wave1 {
    position: absolute;
    top: -6rem;
    @include respond-to("bigphone") {
      top: -8rem;
    }
    @include respond-to("landscape") {
      top: -12rem;
    }
    @include respond-to("large") {
      top: -14rem;
    }
    @include respond-to("desktop") {
      top: -18rem;
    }
    @include respond-to("huge") {
      top: -22rem;
    }
    @include respond-to("ultra") {
      top: -27rem;
    }
  }
  
}
