.navBar {
  position: sticky;
  top: 0;
  background-color: $white1;
  z-index: 100;
  &__mobile {
    @include respond-to("desktop") {
      display: none;
    }
  }
  padding: 2rem;
  // @include shadow($blue2, 0.2);
  @include respond-to("landscape") {
    padding: 2rem 3rem;
  }
  @include respond-to("medium") {
    padding: 2rem 4rem;
  }
  @include respond-to("large") {
    padding: 2rem 8rem;
  }
  @include respond-to("desktop") {
    padding: 2rem 10%;
  }
  @media (min-width: 1440px) and (max-width: 1919px) {
    padding: 2rem 15%;
  }
  @include respond-to("ultra") {
    padding: 2rem 20%;
  }
  &__img {
    img {
      cursor: pointer;
      height: 100%;
      width: 10rem;
      object-fit: contain;
      transition: all 0.5s ease-out;
      &:hover {
        transform: scale(0.95);
      }
      @include respond-to("bigphone") {
        width: 12rem;
      }
      @include respond-to("large") {
        width: 14rem;
      }
      @include respond-to("desktop") {
        width: 10rem;
      }
      @include respond-to("huge") {
        width: 12rem;
      }
    }
  }
  &__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond-to("desktop") {
      display: none;
    }
    i {
      font-size: 1.8rem;
      cursor: pointer;
      width: 4rem;
      text-align: center;
      transition: all 0.8s ease-out;
      @include respond-to("landscape") {
        font-size: 2rem;
        width: auto;
        margin-right: -4rem;
      }
    }
    .active {
      @include gradientText($green1, $green3);
      transform: rotate(720deg);
    }
    .inactive {
      @include gradientText($blue1, $blue3);
    }
  }
  &__collapse {
    margin-top: 1rem;
    padding: 1rem;
  }
  &__link {
    font-size: 1.5rem;
    font-weight: 500;
    color: $grey3;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    @include respond-to("medium") {
      font-size: 1.8rem;
    }
  }
  &__second {
    &Collapse {
      margin-top: 1.3rem;
      padding-left: 1rem;
    }
    &Link {
      font-size: 1.4rem;
      &:not(:last-child) {
        margin-bottom: 1.3rem;
      }
    }
  }
  &__menus {
    display: none;
    @include respond-to("desktop") {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &__menu {
    cursor: pointer;
    font-size: 1.5rem;
    color: $grey3;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-out;
    @include rounded(5px);
    @include respond-to("desktop") {
      font-size: 1.3rem;
      padding: .5rem .8rem;
    }
    @include respond-to("huge") {
      font-size: 1.5rem;
    }
    &:not(:last-child) {
      margin-right: 2rem;
      @include respond-to("desktop") {
        margin-right: 1rem;
      }
    }
    &:hover {
      color: $white1;
      padding: 0.5rem 1rem;
      @include bgLinear(to right, $green1, $green3);
      @include rounded(5px);
    }
    &--contact {
      background-color: $green1;
      color: $white1;
      transition: all 0.5s ease-out;
      @include rounded(10px);
      &:hover {
        background-color: $green3;
      }
      i {
        margin-right: 0.5rem;
        transform: rotate(-30deg);
        transition: all 0.5s ease;
        font-size: 1.8rem;
      }
    }
    &--select {
      select {
        background: transparent;
        border: none;
        color: $grey3;
        font-weight: 500;
      }
      &:hover {
        @include bgLinear(to right, $white1, $white1);
      }
      &:focus {
        outline: 0 !important;
        box-shadow: none !important;
        border: none !important;
      }
    }
    &Select {
      font-size: 1.6rem;
      margin: auto 0;
      position: absolute;
      right: 15%;
      padding-top: .2rem;
      @include respond-to("landscape") {
        right: 12%;
      }
      @include respond-to("medium") {
        right: 14%;
      }
      @include respond-to("large") {
        padding-top: .5rem;
        font-size: 1.8rem;
      }
      @include respond-to("desktop") {
        display: none;
      }
      select {
        background: none;
        border: none;
        color: $grey3;
        font-weight: 500;
      }
    }
  }
}
